body {
	height: 2000px;
}

header {
	width: 1440px;
	background-color: white;
	position: fixed;
	top: 0;
	z-index: 100;
	background-color: white;
	box-shadow: 1px 1px 32px 1px #000000;
}

.container {
	width: 1045px;
	display: flex;
	justify-content: space-between;
	margin-left: 130px;
	padding-top: 40px;
	align-items: center;
	
}

.logo {
	
}

ul {
	display: flex;
	justify-content: space-between;
	width: 606px;
}

li {
	color: #3D37F1;
	font-size: 20px;
	font-weight: bold;
}

li:hover {
	font-size: 23px;
	text-shadow: 0 0 1px #FF0000, 0 0 1px #0000FF;
}

h1 {
	font-size: 78px;
	color: #534D4D;
	font-weight: bold;
	width: 580px;
}

.container1 {
	margin-top: 170px;
	margin-left: 130px;
	display: flex;
	justify-content: space-between;
}

.text {
	margin-top: 40px;
}

.s-1 {
	margin-top: 55px;
}

.text:hover {
	0 0 1px #FF0000, 0 0 1px #0000FF;
	text-shadow: 0 0 1px #000000, 0 0 1px #0000FF;
}

.computer {
	wwidth: 700px;
	height: 450px;
}

.div-img {
	width: 800px;
	height: 500px;
}

.wave {
	background-color: #3D37F1;
	width: 264px;
	height: 77px;
	display: flex;
	align-items: center;
	border-radius: 35px;
	margin-top: 95px;

}

.p-wave {
	color: #FFFFFF;
	font-size: 23px;
	margin-left: 10px;

}

.wave1 {
	display: flex;
	align-items: center;
	margin-left: 50px;
}

.wave:hover {
	box-shadow: 1px 9px 32px 5px #000000;
}

h2 {
	font-size: 20px;
	color: #3D37F1;
	font-weight: bold;
	text-align: center;
}

.container2 {
	width: 1170px;
	margin: 0 auto;
	margin-top: 150px;
}

.s-2 {
	background-color: #F8F8F8;
}

h3 {
	font-size: 40px;
	font-weight: 400;
	text-align: center;
	margin-top: 30px;
}

h4 {
	font-size: 18px;
	font-weight: 400;
	width: 713px;
	height: 90px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}

/*cardebis nawili*/

.card {
	width: 1170px;
	margin: 0 auto;
	margin-top: 67px;
	display: flex;
	justify-content: space-between;	

}

.yellow {
	width: 370px;
	height: 451px;
	background-color: #FBBA77;
	background-image: linear-gradient(#FBBA77, #DFA871);
	position: relative;
}

.yellow-card {
	position: absolute;
	top: 88px;
	left: 134px;
	width: 100px;
	height: 106px;
}

h5 {
	position: absolute;
	top: 252px;
	left: 128px;
	font-size: 22px;
	font-weight: 600;
	color: #FFFFFF;
}

h6 {
	position: absolute;
	top: 285px;
	left: 21px;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 400;
	width: 329px;
	text-align: center;
}

.touch {
	position: absolute;
	top: 358px;
	left: 119px;
	width: 131px;
	height: 45px;
	border-radius: 23px;
	border-color: #ffffff;
	border-width: 2px;
	border-style: solid;
}

.p-touch {
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	color: #ffffff;
	margin-top: 16px;
}

.p-touch:hover {
	color: #4B647E;
}

.touch:hover {
	background-color: #ffffff;
}

.blue {
	width: 370px;
	height: 451px;
	background-color: #41EAE3;
	background-image: linear-gradient(#41EAE3, #2293B7);
	position: relative;
}

.purple {
	width: 370px;
	height: 451px;
	background-color: #69529F;
	background-image: linear-gradient(#69529F, #463864);
	position: relative;
}

.blue2 {
	width: 370px;
	height: 451px;
	background-color: ##4386D2;
	background-image: linear-gradient(#4386D2, #0962C5);
	position: relative;
}

.purple2 {
	width: 370px;
	height: 451px;
	background-color: #A5A2F6;
	background-image: linear-gradient(#A5A2F6, #564FD6);
	position: relative;
}

.orange {
	width: 370px;
	height: 451px;
	background-color: #FF8088;
	background-image: linear-gradient(#FF8088, #984141);
	position: relative;
}









































