header {
	width: 1440px;
}

.container {
	width: 1045px;
	display: flex;
	justify-content: space-between;
	margin-left: 130px;
	margin-top: 40px;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 100;
}

.logo {
	
}

ul {
	display: flex;
	justify-content: space-between;
	width: 606px;
}

li {
	color: #3D37F1;
	font-size: 20px;
	font-weight: bold;
}